<td>{{ name }}</td>
<td>
    <div class="response-controls">
        <a class="response-available" href="#" rel="tooltip" title="Responder is avaliable"><i class="icon-ok"></i></a>
        <a class="response-unavailable" href="#" rel="tooltip" title="Responder is not avaliable"><i class="icon-remove"></i></a>
        <a class="response-unsure" href="#" rel="tooltip" title="Response is maybe"><i class="icon-question-sign"></i></a>
        <a class="response-delete" href="#" rel="tooltip" title="Delete response from list"><i class="icon-trash"></i></a>
    </div>
</td>
<td>{{ message }}</td>
