@import "bootstrap.min.css";
@import "elements.less";

@lightblue: #A7DBD8;
@palegreen: #E0E4CC;
@orange: #F38630;
@brightorange: #FA6900;

body {
    margin-top: 50px;
}

.navbar-inner .brand {
    margin-left: 5px;
}

.incident-actions {
    margin-top: 20px;
}

h2 {
    width: 50%;
    border-bottom: 1px dotted grey;
}

#responderlist, #noresponselist {
    margin-bottom: 50px;
    list-style: none;
    li {
        margin: 0;
        padding: 0;
    }
    .icon-remove {
        padding: 0 10px;
    }
}
