@import "bootstrap.min.css";
@import "elements.less";

@lightblue: #A7DBD8;
@palegreen: #E0E4CC;
@orange: #F38630;
@brightorange: #FA6900;

body {
    margin-top: 50px;
    min-width: 1024px;
}

.navbar-inner .brand {
    margin-left: 5px;
}

.incident-actions {
    margin-top: 20px;
}

h2 {
    width: 85%;
    border-bottom: 1px dotted grey;
}

#responderlist, #noresponselist {
    margin-bottom: 50px;
}

.table-responderlist {
    width: 85%;
}

.response-controls {
    display: inline;
    margin-left: 20px;
    a {
        padding: 0 2px;
    }
}

tr.caution {
    background-color: #FFF5AD;
    &:hover {
        background-color: #FFF5AD;
    }
}
