@import "bootstrap.min.css";
.header {
  margin: 20px 0 40px 0;
}
#logo {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 149px;
  height: 33px;
  background: url('../img/logo.png');
}
#logo:hover {
  background-position: 148px 1px;
}
.table {
  margin: 20px 0;
}
