<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
    <title>Response | Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/screen.css') }}" />
    <script data-main="{{ url_for('static', filename='js/main') }}" src="{{ url_for('static', filename='js/require-jquery.js') }}"></script>
</head>
<body>
    <div class="container-fluid">
        <header class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <a class="brand" href="#">Response</a>
                    <ul class="nav pull-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#profile">Profile</a></li>
                                <li><a href="#logout">Log Out</a></li>
                            </ul>
                        </li>
                    </ul>
            </div>
        </header>

        <div class="row-fluid">
            <div class="span9 current-incident">
                <div class="page-header">
                    <h1>Current Incident</h1>
                </div>
                <h2>Has Responded</h2>
                <table class="table table-responderlist">
                    <thead>
                        <tr>
                            <th class="span2"><b>Name</b></th>
                            <th class="span2"></th>
                            <th><b>Message</b></th>
                        </tr>
                    </thead>
                    <tbody id="responselist">
                    </tbody>
                </table>
                <div class="legend-responderlist">
                    <span class="legend-responderlist-item"><i class="icon-ok"></i> = Responder Available</span>
                    <span class="legend-responderlist-item"><i class="icon-remove"></i> = Responder Unavailable</span>
                    <span class="legend-responderlist-item"><i class="icon-question-sign"></i> = Response Not Clear</span>
                    <span class="legend-responderlist-item"><i class="icon-trash"></i> = Delete Response</span>
                </div>
                <h2>No Response Yet</h2>
                <ul id="noresponselist">
                </ul>
            </div>
            <div class="span3">
                <ul class="nav nav-tabs nav-stacked incident-actions">
                    <li><a href="#">Update Response</a></li>
                    <li><a href="#">Set O.O.T. status</a></li>
                </ul>
            </div>
        </div>

        <footer class="footer">
            <hr>
            <p class="pull-left">Footer</p>
            <p class="pull-right">Work in progress by Chris Henn.</p>
        </footer>
    </div>
</body>
</html>
