<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
    <title>Response | Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/screen.css') }}" />
    <script data-main="{{ url_for('static', filename='js/main') }}" src="{{ url_for('static', filename='js/require-jquery.js') }}"></script>
</head>
<body>
    <div class="container">
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <a id="logo" href="#"></a>
                <!-- <ul class="nav pull-right"> -->
                <!--     <li class="dropdown"> -->
                <!--         <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a> -->
                <!--         <ul class="dropdown-menu"> -->
                <!--             <li><a href="#profile">Profile</a></li> -->
                <!--             <li><a href="#logout">Log Out</a></li> -->
                <!--         </ul> -->
                <!--     </li> -->
                <!-- </ul> -->
            </div>
        </div>
    </div>

    <div class="container">

            <ul class="nav nav-tabs" id="incident-tabs">
                <li class="active"><a href="#incident-a" data-toggle="tab">Incident</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="incident-a">
                    <div class="page-header">
                        <h1>Responses</h1>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Who</th>
                                    <th>Message</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Me</td>
                                    <td>Hello</td>
                                </tr>
                                <tr>
                                    {% for message, responder in messages, responders %}
                                        <td>{{ message }}</td>
                                        <td>{{ responder }}</td>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="page-header">
                        <h1>Has Not Responded</h1>
                    </div>
                </div>
            </div>


        <footer class="footer">
            <hr>
            <p class="pull-right">Work in progress by Chris Henn.</p>
        </footer>
    </div>
</body>
</html>
